@import './mixin.scss';
.container{
  position: relative;
  width:1226px;
  margin-right:auto;
  margin-left:auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  &:before, &:after{
    content:'';
    display: table;
  }
  &:after{
    clear:both;
  }
}